# Data types 
- data ki types hamain batati hai ka hum data pe kia kia operations kr saktay hai.
- variable different types ka data store krte hai 
- numeric aur boolean sab sa ziada data type use hote hai 
- Python main ye built in data types hai 
1. Text type (str)
2. Numeric types (int, float, complex)
3. Sequence types (list, tuple, range)
4. Mapping type (dict)
5. Set types (set, frozenset)
6. Boolean type (bool)
7. Binary types (bytes, bytearray, memoryview)

# Python Data types
1. Text type
- text type main string literals single ya double quotation ka saath likhe jate hai 
- agar kisi string ko variable assign krna ho tou = ka saath krte hai

In [1]:
# strings
print('hello ali') # single quotation ka saath
print("hello class") # double quotation ka saath

hello ali
hello class

In [2]:
# assign string to variable
a = "Good morning"
print(a)

Good morning

In [3]:
# creating a multiline string
a = """I am learning python.
I refer to techbeamers.com tutorials.
it is the most popular site for python programmers.
"""
print(a)

I am learning python.
I refer to techbeamers.com tutorials.
it is the most popular site for python programmers.

2. Numeric Data types
- python main numeric ki 3 types hai 
- int, float , complex

In [4]:
x = 1  # int
y = 2.8 # float
z = 1j # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int 
- int ka matlab integers hai aur ye whole numbers hote hai jin main decimals (points) nahi aatay
- ye positive aur negative dono hote hai 
- inki length infinite bhi ho sakti hai

In [5]:
x = 2
y = 3565612364569877998651322546
z = -32546578

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
- float aese floating points hote hai jin main decimals point aatay hai
- ye positive aur negative dono ho saktay hai

In [6]:
x = 2.50
y = 2.0
z = -35.59


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex
- complex numbers main j ko imaginary ki base pe add kia jata hai

In [1]:
x = 3 + 5j
y = 5j
z = -6j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# 3. Sequence Types 
- ['A','B','C','D','E'] is ki length 5 hai jab ka iska index
- [0,1,2,3,4] positive hai . index hamesha 0 sa start ho ga
- [-5,-4,-3,-2,-1] negative index hai.
- sequence data type main list aur tuple aay ga

1. list
- list aik organize value ka naam hai 
- is ki length decide nahi ki ja sakti matlab data pe base krti hai 
- is main changing ki ja sakti hai 
- ye kisi bhi kisam ka data (int, float, string, bool) ko store kr sakti hai 
- ye duplicate members ki ijazat deta hai.
- aap operation kr ka is ka subset bhi bana saktay hai 
- python main list ko [] ye wali brackets main likha jata hai .

In [2]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [5]:
# aap index ka hawala da kr bhi list ka members tak pohanch saktay hai 
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

negative indexing ka matlab last sa start hona hai matlab jo sab sa last value ho gi wo -1 ho gi

In [6]:
thislist = ["apple","banana", "cherry"]
print(thislist[-2])

banana

# Range of indexes
- aap indexing ki aik range define kr saktay hai matlab kaha sa start hui aur kdr khatam krna hai.
- print(thislist[2:5]) is command main 2 index include ho ga jab ka 5 index include nahi ho ga
- yaad rakhiye index hamesha 0 sa start ho ga

In [8]:
thislist = ["apple","banana", "cherry", "orange", "kiwi", "melon", "mango"]
#index = [0,1,2,3,4,5,6]
print(thislist[2:5]) # ab is main 5 index pe melon hai lakin wo include nahi hoga jab ka 2 index pe cherry hai wo include hoga

['cherry', 'orange', 'kiwi']

# Tuple
- tuple aik aese collection of objects hai jo organize hai.
- is ki length fixed hai aur ye change nahi ho sakti.
- ye duplicate members ki ijazat deta hai
- is main kisi bhi kisam ka data (int, float, strings, boolean) store kiye ja saktay hai.
- ye list sa milta julta hai lakin list main changes ki ja sakti hai is main 
- python main issay () choti/ gol brackets sa represent kia jata hai .

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
# tuple main index
thistuple = ("apple", "banana", "cherry")
print(thistuple[0]) # index ka tarika wohi rahe ga

apple

# 4. Mapping type
- mapping type main dict aati hai matlab dictionary
- ye aese collection of objects hai jo un-organizes aur indexed hote hai .
- inki lenght fix nahi hoti aur is main changing ki ja sakti hai .
- ye kisi bhi data (int, float, strings, bool) ko unki keys aur kisi bhi data structure ko uski value ka saath store kr saktay hai.
- python main dictionary {} curly brackets ka saath likhe jati hai .aur is main key aur values hoti hai .

In [14]:
#dict

thisdict = {
    "brand": "Ford",
    "model": "mustang",
    "year": 2025
}

print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 2025}

In [18]:
thisdict = {
    "brand": "honda",
    "model": "reborn",
    "year": 2014
}
x = thisdict["brand"]
print(x)

honda

# 5. Set types ( set, frozenset)
- set aik aese collection of objects hai jo un-organized aur un-indexed hai.
- ye aese data structure hai jo sequence ko store krte hai .
- set ko index krna ya subset krna possible nahi hai .
- set kisi bhi kisam ka data (int, float, strings, bool) store kr saktay hai .
- elements ko set ka andar include ya remove nahi kia ja sakta.
- set sirf unique values store krta hai is main duplicate values nahi aa sakti.
- agar koi value 2 dafa aay tou ye issay sirf 1 dafa ki consider krte hai.
- is pe arithmetic set operation bhi perform kiye ja saktay hai jese ka union , intersection .
- python main set {} curly brackets main likhe jate hai .
- dictionary aur sets {} brackets main likhe jate hai .
- set main aik item ko add krne ka liye add() method use kia jata hai.
- set main aik sa ziada items add krne ka liye update() method use kia jata hai.
- set ki length find krne ka liye len() ka method use kia jata hai.
- set main item ko nikalne ka liye remove() ya discard() ka method use kia jata hai.

In [19]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
# add method

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [21]:
# update method

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'apple', 'cherry', 'grapes', 'mango', 'banana'}

In [22]:
# lenght method

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [23]:
# remove method

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

1. Frozenset
- ye set ki hi tarah hote hai bs inhe change nahi kia ja sakta

In [ ]:
cities = frozenset(["Lahore", "gujrat", "Pindi"])
cities.add("islamabad") # frozenset main aap item add nahi kr sakte yehi difference set aur frozenset main

print(cities)

AttributeError: 'frozenset' object has no attribute 'add'

# 6. Boolean Type (bool)
- boolean 2 value true ya false main sa kisi aik ko represent krta hai.
- jab aap 2 values ko compare kr rahe hote hai tou ye figure krna zaroori hota hai python is ka jawab boolean main deta hai.

In [25]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [26]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

# 7. Binary types (bytes, bytearray, memoryview)
- python main data main change ka liye bytes aur bytearray ka use kia jata hai.
- in bytes aur bytearray ko buffer protocol ka through use kia jata hai. jisse memoryview kehtay hai.
- memoryview original data ki copy kiye bina hi dosray binary object ki memory use kr leti hai.
- byte literals ka syntax ziada tar strings literals jese hi hai sirf in ka peechay prefix main(b) include kia jata hai.

In [27]:
# create a str
x = b'Python mapping table character'
print(x)

b'Python mapping table character'

In [28]:
x = b"Bytes objects are immutable sequences of single bytes"
print(x)

b'Bytes objects are immutable sequences of single bytes'

In [29]:
# tripe single or double quotes allows multiple lines
x = b"""Python tutorial,
Javascript tutorial,
MySQL tutorial
"""
print(x)

b'Python tutorial,\nJavascript tutorial,\nMySQL tutorial\n'

byte array method aik byte array object ko return krta hai.

In [30]:
string = "Python is interesting."
# string withencoding 'utf-8'
arr = bytearray(string, 'utf-8')
print(arr)

bytearray(b'Python is interesting.')

# How to get data type
- app type function ka through kisi bhi object ki data type find kr saktay hai.

In [31]:
x = 5
print(type(x))

<class 'int'>

In [32]:
x = "Hello abeeha"
print(type(x))

<class 'str'>

In [33]:
x = 20.4
print(type(x))

<class 'float'>

In [34]:
x = 1j
print(type(x))

<class 'complex'>

In [35]:
x = ['apple', 'banana', 'cherry']
print(type(x))

<class 'list'>

In [36]:
x = ('apple', 'banana', 'cherry')
print(type(x))

<class 'tuple'>

In [37]:
x = range(6)
print(type(x))

<class 'range'>

In [39]:
x = {'name': 'ali', 'age':36}
print(type(x))

<class 'dict'>

In [40]:
x = {'apple', 'banana', 'cherry'}
print(type(x))

<class 'set'>

In [41]:
x = frozenset({'apple', 'banana', 'cherry'})
print(type(x))

<class 'frozenset'>

In [42]:
x = True
print(type(x))

<class 'bool'>

In [43]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [44]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [45]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

# Python dates
- python main date aur time ka liye aik built-in module datetime use hota hai.
- because date aur time ka format int aur float ka format sa different hota hai is liye issay different tariqa sa handle kia jata hai.

In [46]:
# current time

import datetime
x = datetime.datetime.now()
print(x)

2026-01-26 22:13:25.382471

In [48]:
# day aur year ka naam display

import datetime
x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2026
Monday

In [49]:
# individually day, year, month

import datetime
x = datetime.datetime.now() # current date and time
year = x.strftime(("%Y"))
month = x.strftime(("%m"))
day = x.strftime(("%d"))
print("day: ", day)
time = x.strftime("%H: %M, %S")
print("time: ", time)
date_time = x.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:", date_time)

day:  26
time:  22: 19, 14
date and time: 01/26/2026, 22:19:14

format string banane ka liye strftime ka method use kia jata hai .

In [50]:
from datetime import datetime
# current date and time

now = datetime.now()
t = now.strftime("%H: %M: %S")
print("time: ", t)
s1 = now.strftime("%m/%d/%Y")
# mm/dd/YY format
print("s1:", s1)

s2 = now.strftime("%d/%m/Y")
# dd/mm/YY format

s3 = now.strftime("%d-%m-%Y")
# dd-mm-YY format

s4 = now.strftime("%a-%b-%y")
print("s4:", s4)

s5 = now.strftime("%A-%B-%Y")
print("s5:", s5)

time:  22: 26: 30
s1: 01/26/2026
s4: Mon-Jan-26
s5: Monday-January-2026